<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.session.get('user_admin') %}
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        {% else %}
            <script>window.location="/"</script>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
