{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h4>{{ temoin.type }}</h4>
        <div class="embed-responsive embed-responsive-4by3">
            <iframe width="560" height="315" src="{{ temoin.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br><p>{{ temoin.description }}</p>
        <br><a href="javascript:history.back()" class="btn btn-warning">Retour</a>
    </div>
{% endblock %}

