{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <video controls src="http://localhost/projet/corban/Corban/application/back/public/uploads/{{ temoin.video }}">Ici la description alternative</video>
        <br><p>{{ temoin.description }}</p>
        <br><a href="javascript:history.back()" class="btn btn-warning">Retour</a>
    </div>

{% endblock %}
